Quick_Group_-_Vectra_XDR.yml
id: a265dc00-9cc1-46de-8c4c-4a70203f5277
version: 9
vcShouldKeepItemLegacyProdMachine: false
name: Quick Group - Vectra XDR
description: This playbook can be run outside of an incident if required. This playbook
  prompts the user to select the type of group to work with (ip, domain, host, account)
  and then requests the data  (one element at a time) the user wishes to add to the
  group.  The playbook will list the available groups of the type selected that contain
  the coded text in the group description field. The default value is XSOAR so only
  groups with xsoar in the description will be displayed. The operator must select
  a group id and the data provided will be added to that group.  There is no data
  validation so the operator must ensure that the correct data is added to the appropriate
  group (ex. add IP addresses to the IP group only).
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 6ddbf07d-1153-4468-8989-d931b6f4cfc0
    type: start
    task:
      id: 6ddbf07d-1153-4468-8989-d931b6f4cfc0
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: cfc12683-8c48-42fd-8052-15f81e527253
    type: collection
    task:
      id: cfc12683-8c48-42fd-8052-15f81e527253
      version: -1
      name: Get Group Member Input
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: Please enter group member details
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Please enter group member details
        required: false
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Please enter group member details
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: ac949c28-9ef0-4dc0-8468-a0caa3333c8f
    type: regular
    task:
      id: ac949c28-9ef0-4dc0-8468-a0caa3333c8f
      version: -1
      name: List Groups
      description: Returns a list of all groups.
      script: '|||vectra-group-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      description:
        simple: xsoar
      group_type:
        simple: ${What type of group do you want to work with?.Answers.0}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 5ac5a7b8-018d-48b6-856f-26353346add1
    type: collection
    task:
      id: 5ac5a7b8-018d-48b6-856f-26353346add1
      version: -1
      name: Get Group
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: Enter Group ID to Update
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Enter Group ID to Update
        required: false
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Enter Group ID to Update
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 275e62d2-19c6-44d8-8e59-658c63ee3c85
    type: regular
    task:
      id: 275e62d2-19c6-44d8-8e59-658c63ee3c85
      version: -1
      name: Add to Group
      description: Assign members to the specified group.
      script: '|||vectra-group-assign'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      group_id:
        simple: ${Enter Group ID to Update.Answers.0}
      members:
        simple: ${Please enter group member details.Answers.0}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 21022a0d-c02d-423e-8907-5a97cb46cf02
    type: title
    task:
      id: 21022a0d-c02d-423e-8907-5a97cb46cf02
      version: -1
      name: End
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 704b2850-8094-49be-8631-845edcb22d31
    type: collection
    task:
      id: 704b2850-8094-49be-8631-845edcb22d31
      version: -1
      name: Select Group Type
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: What type of group do you want to work with?
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: What type of group do you want to work with?
        required: false
        gridcolumns: []
        defaultrows: []
        type: singleSelect
        options: []
        optionsarg:
        - simple: IP
        - simple: Host
        - simple: Domain
        - simple: Account
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: What type of group do you want to work with?
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
