Quick_Tag_-_Vectra_XDR.yml
id: 2f8e4eb8-072c-4f01-8f04-16eae8fc474e
version: 4
vcShouldKeepItemLegacyProdMachine: false
name: Quick Tag - Vectra XDR
description: This playbook is intended to be called from inside an incident.  This
  playbook requests a string (Tag) from the operator and then adds that tag to the
  entity the playbook is called from. The operator can specify a single tag or multiple
  tags separated by a comma.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: f9dc6249-8985-468b-83b4-e7522c6dddba
    type: start
    task:
      id: f9dc6249-8985-468b-83b4-e7522c6dddba
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 4af11b6e-384b-4774-8809-1388db59494d
    type: collection
    task:
      id: 4af11b6e-384b-4774-8809-1388db59494d
      version: -1
      name: Request Tag
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: Please enter a tag to add to the entity
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Please enter a tag to add to the entity
        required: false
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Please enter a tag to add to the entity
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 0cd1f0d2-787a-4ea6-8b63-828f01c321f3
    type: regular
    task:
      id: 0cd1f0d2-787a-4ea6-8b63-828f01c321f3
      version: -1
      name: Write Tag
      description: Add tags in the entity.
      script: '|||vectra-entity-tag-add'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      entity_id:
        simple: ${incident.vectraxdrentityid}
      entity_type:
        simple: ${incident.vectraxdrentitytype}
      tags:
        simple: ${Please enter a tag to add to the entity.Answers.0}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: f161858f-f799-4ea3-8640-b90685756d24
    type: title
    task:
      id: f161858f-f799-4ea3-8640-b90685756d24
      version: -1
      name: End
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 615,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
quiet: true
